[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/seger/.MathWorks/ServiceHost/seger-IdeaPad/v2024.2.0.3/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
